<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.auptsoft.homeenergyplanner">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"  />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadEditActivity" android:label="Edit Loads" android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".AddLoadActivity" android:label="Add New Load" android:theme="@style/Dialogtheme" />

        <activity android:name=".AuthencateActivity" />
        <activity android:name=".SettingsActivity" android:theme="@style/AppThemeTwo" android:label="Settings" />
    </application>

</manifest>